.Avatar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position:relative;
  height:30vh;

  &--Img{
    z-index: 2;
    position: absolute;
    justify-content: flex-end;
    background-image: url('http://www197.lunapic.com/do-not-link-here-use-hosting-instead/148099417866858?2849613982');
    // background-image: url(http://i.imgur.com/AaaPhBW.jpg);
    width: 168px;
    height: 168px;
    background-size: cover;
    background-position: center;
    border-radius: 100px;

  }
}
