.Avatar{
  display: flex;
  justify-content: center;
  width: 100%;
  position:absolute;
  height:10vh;

  &--Img{
    z-index: 2;
    position: absolute;
    justify-content: flex-end;
    background-image: url(https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAkqAAAAJDI4Y2I2ZWRhLTAzODEtNGNiMy1hODUzLTA5YzQ5NDc1ZjFjMw.jpg);
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 75px;

  }
}
