.Button{
  font-family: 'Merriweather', serif;
  text-decoration: none;
  color: white;
  justify-content: flex-end;
  background-color: black;
  border-radius: 3px;
  padding: 10px;
  background-origin: content-box;
  position: relative;
  flex-direction: column;
  &--Large{
    display: inline-block;
    width: 13vw;
    font-size: 1.5em;
  }
  &--Small{
    width: 5vw;
    font-size: 1em;
  }
}
