.button{
  font-family: 'Rochester', cursive;
  font-size: 1.3em;
  text-decoration: none;
  color: white;
  text-align: center;
  justify-content: flex-end;
  background-color:black;
  border-radius:3px;
  padding: 10px;
  background-origin: content-box;
  flex-grow: 1;
  flex-basis: 0;
  &--large{
    font-size: 2em;
    }
  &--small{
    font-size: 1em;
  }
}
