.Button{  font-family: 'Rochester', cursive;
  font-family: 'Rochester', cursive;
  text-decoration: none;
  color: white;
  justify-content: flex-end;
  background-color: black;
  border-radius: 3px;
  padding: 10px;
  background-origin: content-box;
  position: relative;
  flex-direction: column;
  &--Large{
    font-size: 2em;
  }
  &--Small{
    font-size: 1em;
  }
}
