.Content{
  position: relative;
  text-align: justify;
  height: 50vh;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  height: 50vh;

  &--Wellcome{
    height: 100vh;
    text-align: center;
  }

  &--Features{
    flex-direction: column;
    justify-content: center;
  }
}

.Content-footer{
  align-items: flex-end;
  justify-content: space-between;
}
