@import '../variables';

.Font{
  line-height: 1.7em;
  text-align: center;
  font-size: 1em;
  font-family: 'Merriweather', serif;
  color:#222222;

  &--Title{
    font-size: 3em;
    text-shadow: 2px 2px 4px gray;
    position: relative;
    align-items:center;
  }
  &--Subtitle{
    font-size: 3em;
    align-items:center;
    text-shadow: 2px 2px 4px gray;


    justify-content: center;
    position: relative;

    &-Features{
      padding: 10px, 10px, 10px, 10px;
    }
  }
  &--Name{
    text-align: left;
    z-index: 3;
    padding-left: 30px;
    font-size: 3em;
    color:#FFFFFF;
    text-shadow: 1px 1px #c1c1c6;
    flex-grow: 2;
  }
}
