.Font{
  line-height: 1.7em;
  text-align: center;
  font-size: 1.2em;
  font-family: 'Rochester', cursive;

  &--Title{
    font-size: 4em;
    // color:#FFFFFF;
    text-shadow: 1px 1px gray;
    position: relative;
    align-items:center;
  }

  &--Subtitle{
    font-size: 3em;
    align-items:center;
    justify-content: center;
    position: relative;
    &-Features{
      padding: 10px, 10px, 10px, 10px;
    }
  }
  &--Name{
    text-align: left;
    z-index: 3;
    padding-left: 30px;
    font-size: 3em;
    color:#FFFFFF;
    text-shadow: 1px 1px #c1c1c6;
    flex-grow: 2;
  }
}
