// Colors
$brand-color: white;
$body-color: black;
$border-color: gray;


//Fonts
$light-font-color: #ffffff;
$dark-font-color: #333333;
$border-maps-color: #aba4a4;
$subTitle-maps-color: #525050;


//Radius
$container-radius: 5px;
