.font{
  line-height: 1.7em;
  text-align: center;
  font-size: 1.2em;
  display: flex;

  &--title{
    font-family: 'Rochester', cursive;
    font-size: 4em;
    // color:#FFFFFF;
    text-shadow: 1px 1px gray;
    position: relative;
    align-items:center;
  }

  &--subtitle{
    font-family: 'Rochester', cursive;
    font-size: 3em;
    align-items:center;
    justify-content: center;
    position: relative;
    &-features{
      padding: 10px, 10px, 10px, 10px;
    }
  }
  &--name{
    text-align: left;
    z-index: 3;
    padding-left: 30px;
    font-size: 3em;
    color:#FFFFFF;
    text-shadow: 1px 1px #c1c1c6;
    // font-family: 'Aref Ruqaa', serif;
    font-family: 'Rochester', cursive;
    flex-grow: 2;
  }
}
