<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Matheus Varella</title>
  <link rel="stylesheet" type="text/css" href="../scss/section.scss">
  <link rel="stylesheet" type="text/css" href="../scss/image.scss">
  <link rel="stylesheet" type="text/css" href="../scss/buttons.scss">
  <link rel="stylesheet" type="text/css" href="../scss/font.scss">
  <link href="https://fonts.googleapis.com/css?family=Bungee|Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">
</head>
<body>

  <section class="Content-wellcome">
    <section class="Section">
      <header class="Header">
        <div class="Font Font--Name"> Desktop</div>
        <div class="Links">
          <a class="Links-A" href="#skills"> Skills</a>
          <a  class="Links-A"href="#wtf"> About me</a>
          <a class="Links-A" href="#wtf"> Contact</a>
        </div>
      </header>
      <div class="Avatar">
        <img class="Avatar Avatar--Img"></img>
      </div>
    </section>


    <div class="Font Font--Title"> Matheus Varella de Oliveira</div>
    <div class="Font Font--Subtitle"> Developer</div>
    <div class="Font">
      <p>
        Olá, sou Desenvolvedor, tenho 18 anos, curso
        Técnico em Informática, e tenho trabalho com Metodologias Ágeis,<br> busco soluções práticas e diretas,
        sem desperdício de tempo e dinheiro o negócio.
      </p>
    </div>
    <a class="Button Button--Large" href="#skills">More about me</a>
  </section>


  <section id="skills">
    <div class="Font Font--Subtitle Font--Subtitle-Features">Skills</div>
    <div class="Content-About">
        <div class="Font">
          Completamente viciado e apaixonado por códigos. Comecei a desenvolver sites e sistemas em 2005 e não consegui mais parar.
          Desenvolvo projetos voltados para o posicionamento e fortalecimento do cliente na web, através da análise concorrencial e das melhores estratégias, utilizando sempre tecnologias avançadas e ideias inovadoras.
          Além disso, direciono parte do meu tempo para pesquisas, desenvolvimento de projetos como o musicx.com.br e escrever artigos sobre tecnologia para o meu blog.
        </div>
      <div class="About-Image">
        <img class="Img-About"><img>
      </div>
    </div>
    </section>




  </body>
  </html>
