<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Matheus Varella</title>
  <link rel="stylesheet" type="text/css" href="../scss/section.scss">
  <link rel="stylesheet" type="text/css" href="../scss/image.scss">
  <link rel="stylesheet" type="text/css" href="../scss/buttons.scss">
  <link rel="stylesheet" type="text/css" href="../scss/font.scss">
  <link href="https://fonts.googleapis.com/css?family=Bungee|Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>
<body>

  <section class="Content Content--Wellcome">
    <section class="Section">
      <header class="Header">
        <div class="Font Font--Name"> Home</div>
        <div class="Link">
          <a class="Link--Header" href="#skills"> Skills</a>
          <a  class="Link--Header"href="#wtf"> About me</a>
          <a class="Link--Header" href="#wtf"> Contact</a>
        </div>
      </header>
    </section>

    <div class="u-outterWrapper">
      <div class="Font Font--Title"> Matheus Varella de Oliveira</div>
      <div class="Avatar">
        <img class="Avatar Avatar--Img"></img>
      </div>
        <div class="Font Font--Subtitle"> Developer</div>
        <!-- <p> -->
        Olá, sou Desenvolvedor, tenho 18 anos, curso
        Técnico em Informática, e tenho trabalhado com Metodologias Ágeis, busco soluções práticas e diretas,
        sem desperdício de tempo e dinheiro o negócio.
        <!-- </p> -->
      <a class="Button Button--Large" href="#aldelaine">Mais informações</a>
  </div>
</section>
  <hr>

  <section class="Content Content--Wellcome" id="Agile">
    <div class="u-outterWrapper">
      <div class="Font Font--Subtitle"> Metodologias Ágeis</div>
      <div class="Font">
        Olá, sou Desenvolvedor, tenho 18 anos, curso
        Técnico em Informática, e tenho trabalhado com Metodologias Ágeis, busco soluções práticas e diretas,
        sem desperdício de tempo e dinheiro o negócio.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      </div>
      <div class="Image">
        <img class="Image Image--Features"><img>
      </div>
    </section>
  </div>
  <hr>




  <div class="Content Content--Features" id="skills">
    <div class="Font Font--Subtitle Font--Subtitle-Features">Skills</div>
    <div class="Font">
      Completamente viciado e apaixonado por códigos. Comecei a desenvolver sites e sistemas em 2005 e não consegui mais parar.
      Desenvolvo projetos voltados para o posicionamento e fortalecimento do cliente na web, através da análise concorrencial e das melhores estratégias, utilizando sempre tecnologias avançadas e ideias inovadoras.
      Além disso, direciono parte do meu tempo para pesquisas, desenvolvimento de projetos como o musicx.com.br e escrever artigos sobre tecnologia para o meu blog.
    </div>
  </div>




</body>
</html>
